<div class="naslov">
  <h1>Welcome to National Library</h1>
</div>
<div class="prvi">
    <p><i>NL was founded in 1878</i></p>
    <p>Today it operates in many ways:</p>
    <ul>
        <li>As a special depository of books</li>
        <li>As a parent library for all public libraries</li>
        <li>As a modern cultural institution offering varied artistic and cultural programs</li>
    </ul>
</div>
<div class="drugi">
    NL has been trying to promote the cooperation with various both domestic and international
    actors, in the fields of library science, digitalization and literature.
</div>
<div class="slike">
    <img src="/assets/images/pozadina.jpg" width="300px">
    <img src="/assets/images/pozadina1.jpg" width="350px">
    <img src="/assets/images/pozadina2.jpg" width="300px">
</div>
<footer>
  <div class="border-right">
    <h4>Phone</h4>
    <p>+381-11-1234-567</p>
  </div>
  <div class="border-right"> 
    <h4>Email</h4>
    <p>NL@gmail.com</p>
  </div>
  <div class="border-right">  
    <h4>Director</h4>
    <p>M. L.</p>
  </div>
  <div class="border-right">
    <h4>Year founded</h4>
    <p>1878</p>
  </div>
</footer>