<div class="sve">
    <h2>{{ book.title }}</h2>
    <h4><b>Author:</b><i>{{ book.author }}</i></h4>
    <p><b>Description:</b>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque recusandae reprehenderit
        ullam earum reiciendis, ducimus nam quaerat mollitia repellendus nostrum, velit facilis inventore quos minus
        illo laboriosam natus. Enim quaerat atque culpa officia deleniti autem libero repudiandae explicabo quo dolorem
        repellendus, optio corporis eum obcaecati quisquam maiores perferendis dolorum. Necessitatibus quos ipsum
        excepturi. Dicta vero a illum, laudantium dolores hic est? Illum, deleniti labore. Harum, dignissimos cum
        laborum dolorem, accusamus, a corporis facilis ab suscipit odio asperiores vel! Aspernatur iste optio, nobis, ut
        molestias eligendi dolorem numquam dolorum quidem tempora aperiam voluptate explicabo quasi delectus quas ipsum
        doloribus veritatis odit. Nulla quo modi illo repellat quis iste ducimus debitis deserunt iusto reiciendis
        optio, molestias nostrum qui. Laboriosam labore similique modi, dolorem, perferendis aut molestiae dolorum ea
        error dicta ex eos cum doloribus hic. Aliquam optio blanditiis iure ipsum doloremque, ipsa non id cum. Dolorum
        eaque nihil voluptatibus deserunt ipsum inventore, nobis neque dolorem fugit architecto, aperiam porro
        asperiores cumque distinctio eius in, ut veritatis voluptatum recusandae maiores repudiandae. Dicta, quia
        eligendi libero laudantium vel repellendus eius illo minus rerum alias, id maxime cumque, natus odit quo!
        Exercitationem, impedit laboriosam. Maxime praesentium expedita veniam ex a consectetur odit? Reiciendis,
        eligendi fuga!</p>
</div>