.sve {
    background: linear-gradient(rgb(54, 37, 27), black);
    height: 100vh;
    border-top-right-radius: 30px;

}

h2 {
    color: bisque;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(0, 0, 0);
    border-bottom-left-radius: 90px;
}

.row {
    text-align: center;
}

a {
   font-size: 20px;
   color: bisque;
   text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255);
}